<div class="setting-container">
    <div class="setting-header">
        <%= link_to "Personal Info", "#", class: "setting-nav" %>
        <%= link_to "Avatar", "#", class: "setting-nav" %>
        <%= link_to "Password", "#", class: "setting-nav" %>
        <%= link_to "Verification", "#", class: "setting-nav" %>
    </div>

    <div id="setting-form">
        <%= render 'personal_info'%>
    </div>

</div>