<% provide(:title, "Update Password")%>
<div class="settings-container">
    
    <%= render 'side_navbar' %>

    <div class="settings-content" id="settings-partial">
        <div class="setting-container">
            
            <%= render 'setting_header'%>

            <%= render 'shared/error_messages' %>

            <div id="setting-form">
                <%= form_with url: password_update_path(@user.id), method: :put, local: true do |form| %>
                    <div class="personal-container input-group">
                        <span class="info-title input-group-addon" id="basic-addon1">New</span>
                        <%= form.password_field :password, class: "form-control personal-form", required: true %>
                    </div>

                    <div class="personal-container input-group">
                        <span class="info-title  input-group-addon" id="basic-addon1">Confirm</span>
                        <%= form.password_field :password_confirmation, class: "form-control personal-form", required: true %>
                    </div>

                    <%= form.submit "Confirm", class: "confirm_button form-control" %>
                <% end %>
            </div>

        </div>
    </div>
</div>